<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title> RPA PORTAL </title>
            <link rel="stylesheet" href="{% static 'assets/vendor/jquery-toast-plugin/jquery.toast.min.css' %}">
        {% include 'page/head_basic_scripts.html' %}
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- Theme Config Js -->
    <script src="{% static 'assets/js/hyper-config.js' %}"></script>
    <!-- App css -->
    <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style"/>
    <!-- Icons css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>
    .modal-header {
      cursor: grab;
    }
    </style>

    </head>

    <body>
            <!-- Pre-loader -->
        <div id="preloader">
            <div id="status">
                <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
            </div>
        </div>
        <!-- End Preloader-->
        <!-- Begin page -->
        <div class="wrapper">
{% include 'page/navbar_top.html' %}
{% include 'page/navbar_left.html' %}
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item">RPA 현황</li>
                                            <li class="breadcrumb-item">RPA 중단</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">RPA 중단 과제</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div id="alt-pagination-preview" class="table-responsive">
                                            <table class="table table-striped dt-responsive table-hover nowrap w-100" id="alternative-page-datatable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="text-center" style="width: 80px;">과제번호</th>
                                                        <th class="text-center">과제</th>
                                                        <th class="text-center">상태</th>
                                                        <th class="text-center" style="width: 10%;">최초 등록일</th>
                                                        <th class="text-center" style="width: 10%;">중단일</th>
                                                        <th class="text-center" style="width: 10%;">최근 수행</th>
                                                        <th class="text-center" style="width: 80px;">작업</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for task in taskList %}
                                                    <tr>
                                                        <td class="text-center align-middle"><a class="text-body fw-bold">{{ task.id }}</a> </td>
                                                        <td class="text-center align-middle">
                                                            <h5 class="my-0">
                                                                <a class="link-secondary link-offset-2 link-opacity-50-hover"
                                                                   href="/taskList/{{ task.id }}/?chkf=stop">
                                                                    {{ task.taskname }}
                                                                </a>
                                                                </h5>
                                                        </td>
                                                        <td class="text-center align-middle" style="font-size: 16px;">
                                                            {% if '운영중단' in task.progress_status %}
                                                            <span class="badge text-bg-secondary">{{ task.progress_status }}</span>
                                                            {% elif '개발중단' in task.progress_status %}
                                                            <span class="badge bg-danger">{{ task.progress_status }}</span>
                                                            {% elif '요청철회' in task.progress_status %}
                                                            <span class="badge bg-danger">{{ task.progress_status }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center align-middle">{{ task.created_date|date:'Y-m-d' }}</td>
                                                        <td class="text-center align-middle">{{ task.updated_date|date:'Y-m-d' }}</td>
                                                        <td class="text-center align-middle">2024-01-10</td>
                                                        <td class="text-center">
                                                            <a href="#"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#taskmanage-modal{{ task.id }}"
                                                               class="action-icon">
                                                                <i class="mdi mdi-square-edit-outline"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                <div id="taskmanage-modal{{ task.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="standard-modalLabel">{{ task.taskname }}<a style="font-size: 12px;"> - {{ task.id }}</a></h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="select-status{{ task.id }}" class="form-label">RPA 운영 상태 변경</label>
                                                                    <select class="form-select" id="select-status{{ task.id }}">
                                                                        <option selected disabled>선택</option>
                                                                        <option>재개발</option>
                                                                        <option>개발중단</option>
                                                                        <option>운영재개</option>
                                                                    </select>
                                                                </div>
                                                                <label class="form-label">변경 사유</label>
                                                                <textarea class="form-control form-control-light mb-2" placeholder="작성"
                                                                  id="textarea-reason{{ task.id }}" rows="3"> {{ task.change_reason }}
                                                                </textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
                                                                <button type="button" class="btn btn-primary" onclick="savestatus({{ task.id }})">저장</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- end card-body-->

                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div> <!-- end row --> 
                    </div> <!-- container -->
                </div> <!-- content -->

                <!-- Footer Start -->
                {% include 'page/footer_bottom.html' %}
                <!-- end Footer -->

            </div>

        </div>
<!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- Datatables js -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<!-- Toastr Demo js -->
<script src="{% static 'assets/vendor/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.toastr.js' %}"></script>
<script>
function savestatus(pId) {
        var statusinput = document.querySelector("#select-status" + pId).value
        var reason = document.querySelector("#textarea-reason" + pId).value;
        if (statusinput === '운영재개') {
            statusinput = '개발완료'
        }
        if (statusinput === '선택' || reason === '') {
            warningnotification_comment();
            return;
        }

        var dataToSend = {
            pId: pId,
            statusinput: statusinput,
            reason: reason
        };

        $.ajax({
            type: 'POST',
            url: '/updatemanagetaskstatus/',
            data: dataToSend,
            headers: {
            'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            success: function (response) {
                $('#taskmanage-modal' + pId).modal('toggle');
                location.reload();
            },
            error: function (error) {
                console.log('오류 발생: ', error);
            }
        });
};

function warningnotification_comment() {
    $.NotificationApp.send("오류","입력된 값이 없습니다","top-right","Background color","error")
}
</script>

<script>
$('#alternative-page-datatable').DataTable( {
  columnDefs: [
    { orderable: false, targets: [2,6] }
  ],
  order: [[4, 'desc']],
  "language": {
    "zeroRecords":"조회된 내역이 없습니다.",
    "paginate": {
      "previous": '<i class="mdi mdi-chevron-left"></i>',
      "next": '<i class="mdi mdi-chevron-right"></i>'
    },
  }
} );
</script>
<script>
  $(function () {
    $('.modal-dialog').draggable({
      handle: ".modal-header"
    });
  });
</script>
    </body>
</html>
